<header>
  <nav>
    <div class="row">
      <div class="col-10">
        <ul class="nav nav-tabs">
          <li class="nav-item" *ngIf="!authService.isAuthenticated()">
            <a class="nav-link" routerLink="login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isAuthenticated()">
            <!-- <a class="nav-link" routerLink="register">Register</a> -->
            <a
              class="nav-link"
              [routerLink]="[{ outlets: { second: ['register'] } }]"
              >Register</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="[{ outlets: { second: ['users'] } }]"
              >Users</a
            >
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated()">
            <a class="nav-link" routerLink="expenses">Expenses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipe">Pipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="observable">Observable</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="lazy">Lazy</a>
          </li>
        </ul>
      </div>
      <div class="col-2 m-3" *ngIf="authService.isAuthenticated()">
        <div class="d-grid">
          <button class="btn btn-sm btn-outline-danger" (click)="onLogout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
