<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Register Form</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <!-- username -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder=""
              formControlName="username"
            />
            <label for="username">Username</label>
            <div *ngIf="username.touched && username.invalid && username.dirty">
              <div *ngIf="username.hasError('required')">
                <p class="alert alert-danger">Username is mandatory field.</p>
              </div>
              <div *ngIf="username.hasError('email')">
                <p class="alert alert-danger">
                  Invalid email format for username field.
                </p>
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              formControlName="password"
            />
            <label for="password">Password</label>

            <!-- Password Error Handling -->
            <div *ngIf="password.touched && password.invalid && password.dirty">
              <div *ngIf="password.hasError('required')">
                <p class="alert alert-danger">Password is mandatory field.</p>
              </div>
              <div *ngIf="password.hasError('minlength')">
                <p class="alert alert-danger">At least 6 characters needed.</p>
              </div>
              <div *ngIf="password.hasError('exclamation')">
                <p class="alert alert-danger">Exclamation (!) required.</p>
              </div>
            </div>
          </div>

          <!-- confirm password -->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="cnfPassword"
              id="cnfPassword"
              placeholder=""
              formControlName="cnfPassword"
            />
            <label for="cnfPassword">Confirm Password</label>

            <!-- Control Level Validation -->
            <div
              *ngIf="
                cnfPassword.touched && cnfPassword.dirty && cnfPassword.invalid
              "
            >
              <div *ngIf="cnfPassword.hasError('passwordMismatch')">
                <p class="alert alert-danger">Password mismatched.</p>
              </div>
            </div>

            <!-- Form Level Validation -->
            <!-- <div
              *ngIf="
                cnfPassword.touched &&
                cnfPassword.dirty &&
                registerForm.hasError('passwordMismatch')
              "
            >
              <p class="alert alert-danger">Password mismatched.</p>
            </div> -->
            <!-- </div> -->

            <!-- buttons - Register & Reset -->
            <div class="row">
              <div class="col">
                <div class="d-grid">
                  <button
                    [disabled]="!registerForm.valid"
                    class="btn btn-success"
                    type="submit"
                  >
                    Register
                  </button>
                </div>
              </div>
              <div class="col">
                <div class="d-grid">
                  <button class="btn btn-secondary" type="button">Reset</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
