<!-- Slot -->
<ng-content select="header"></ng-content>

<h1 appHighlight favColor="blue">{{ user.firstName }} {{ user.lastName }}</h1>

<p>Date of Birth : <span [innerHTML]="user.dob"></span></p>

<p *ngIf="user.isWorking; else userNotWorking">
  Income : <span [innerHTML]="user.income"></span>
</p>

<ng-template #userNotWorking>
  <p>Mr. {{ user.lastName }} is not working anymore.</p>
</ng-template>

<p>
  Total Votes : {{ user.votes }}

  <input
    type="number"
    [value]="user.votes"
    (input)="user.votes = +inputVotes.value"
    #inputVotes
  />

  <input type="number" [(ngModel)]="user.votes" />
</p>

<ng-content select="footer"></ng-content>
