<!-- Slot -->
<ng-content select="header"></ng-content>

<h1 appHighlight favColor="yellow">
  {{ user.firstName | titlecase }} {{ user.lastName | titlecase }}
</h1>

<p>
  Date of Birth : <span [innerHTML]="user.dob | date : 'dd-MM-yyyy'"></span>
</p>

<p *ngIf="user.isWorking; else userNotWorking">
  Income : <span [innerHTML]="user.income | currency : 'INR'"></span>
</p>

<ng-template #userNotWorking>
  <p>Mr. {{ user.lastName | titlecase }} is not working anymore.</p>
</ng-template>

<p>
  Total Votes : {{ user.votes | number : "3.2" }}

  <input
    type="number"
    [value]="user.votes"
    (input)="user.votes = +inputVotes.value"
    #inputVotes
  />

  <input type="number" [(ngModel)]="user.votes" />
</p>

<ng-content select="footer"></ng-content>

<!-- {{ user | json }} -->

<!-- {{ 120 | percent }} -->
