<h1>App Works!</h1>

<hr />

<div class="container">
  <!-- <app-users></app-users> -->

  <app-expenses></app-expenses>

  <!-- <app-observable-example></app-observable-example> -->

  <!-- <app-counter-one></app-counter-one>

  <hr />

  <app-counter-two></app-counter-two> -->

  <!-- <app-register></app-register> -->

  <!-- <app-login></app-login> -->

  <!-- <app-pipe-example></app-pipe-example> -->

  <!-- <app-directive-example></app-directive-example> -->

  <!-- <button class="btn btn-primary" (click)="toggle = !toggle">Toggle</button>

  <input type="text" [(ngModel)]="title" />

  <app-life-cycle *ngIf="toggle" [title]="title"></app-life-cycle> -->
</div>
