<div class="container">
  <app-header></app-header>

  <br />

  <router-outlet></router-outlet>

  <!-- <app-users></app-users> -->

  <!-- <app-observable-example></app-observable-example> -->

  <!-- <app-counter-one></app-counter-one>

  <hr />

  <app-counter-two></app-counter-two> -->

  <!-- <app-register></app-register> -->

  <!-- <app-login></app-login> -->

  <!-- <app-expenses *ngIf="authService.isAuthenticated()"></app-expenses> -->

  <!-- <app-pipe-example></app-pipe-example> -->

  <!-- <app-directive-example></app-directive-example> -->

  <!-- <button class="btn btn-primary" (click)="toggle = !toggle">Toggle</button>

  <input type="text" [(ngModel)]="title" />

  <app-life-cycle *ngIf="toggle" [title]="title"></app-life-cycle> -->
</div>
