<div class="row">
  <div class="col-8 offset-2">
    <div class="card">
      <div class="card-header">
        <h1 class="text-center">Login Form</h1>
      </div>
      <div class="card-body">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
          <!-- email input field-->
          <div class="form-floating mb-3">
            <input
              type="text"
              class="form-control"
              name="email"
              id="email"
              placeholder=""
              ngModel
              required
              email
              #email="ngModel"
            />
            <label for="email">Email</label>
            <!-- Email Error Handling -->
            <div *ngIf="email.touched && email.dirty && email.invalid">
              <div *ngIf="email.hasError('required')">
                <p class="alert alert-danger">Email is mandatory field</p>
              </div>
              <div *ngIf="email.hasError('email')">
                <p class="alert alert-danger">Invalid email format.</p>
              </div>
            </div>
          </div>

          <!-- password -->
          <div class="form-floating mb-3">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder=""
              ngModel
              required
              minlength="6"
              #password="ngModel"
            />
            <label for="password">Password</label>
            <div *ngIf="password.dirty && password.touched && password.invalid">
              <div *ngIf="password.hasError('required')">
                <p class="alert alert-danger">Password is mandatory field</p>
              </div>
              <div *ngIf="password.hasError('minlength')">
                <p class="alert alert-danger">
                  Min lenght should be 6 characters
                </p>
              </div>
            </div>
          </div>

          <!-- buttons - Login & Reset -->
          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button
                  [disabled]="!loginForm.valid"
                  type="submit"
                  class="btn btn-primary"
                >
                  Login
                </button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button
                  type="button"
                  (click)="loginForm.resetForm()"
                  class="btn btn-secondary"
                >
                  Reset
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
