<div class="text-center">
  <h1>Products Component</h1>

  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/products/199/iPhone/overview">Product - IPhone 16 Pro</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/products/101/Galaxy/overview">Product - Samsung Galaxy</a>
    </li>
    <li class="list-group-item">
      <a routerLink="/products/99/Razr/overview">Product - Motorola Razr</a>
    </li>
  </ul>
  <br />

  <router-outlet></router-outlet>
</div>
