<h1>Pipe Example Component</h1>

<h3>Async Pipe : {{ promise | async }}</h3>

<h3>Contact Number : {{ contactNumber | countryCode }}</h3>

<h3>Reverse Pipe : {{ greeting | reverse }}</h3>

<hr />

<div class="row mb-3">
  <div class="col">
    <select class="form-control" [(ngModel)]="filteredStatus">
      <option value="">Select Task</option>
      <option value="pending">Pending Task</option>
      <option value="completed">Completed Task</option>
    </select>
  </div>
  <div class="col">
    <div class="d-grid">
      <button class="btn btn-primary" (click)="onAddNewItem()">Add New</button>
    </div>
  </div>
</div>

<ul class="list-group">
  <li
    class="list-group-item mb-3"
    *ngFor="let todo of todoCollection | filter : filteredStatus"
  >
    {{ todo.label | titlecase }}
    <span class="float-end">{{ todo.status | titlecase }}</span>
  </li>
</ul>
