.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #333;
  z-index: 50;
}

.my-dialog {
  position: fixed;
  width: 40vw;
  left: 30vw;
  top: 20vh;
  background: #fff;
  z-index: 70;
}
